<html>
	<head>
		<title>Employee Simpan</title>
	</head>
	<body>
		<h1>Simpan Employee</h1>
		
		<p>Page Imployee</p>
		<label>ID :</label> <label th:text="${vemp.id}"></label> <br/>
		<label>Nama :</label> <label th:text="${vemp.nama}"></label> <br/>
		<label>Alamat :</label> <label th:text="${vemp.alamat}"></label><br/>
		<label>Tempat Lahir :</label> <label th:text="${vemp.tptLahir}"></label> <br/>
		<label>Tanggal Lahir :</label> <label th:text="${vemp.tglLahir}"></label><br/>
	</body>
</html>