<html>
	<head>
		<title>Create Job Title</title>
	</head>
	<body>
		<h1>Create Job Title</h1>
		<form th:action="@{~/job-title/save}" method="POST">
			<label>ID</label> <br/>
			<input type="text" name="id"/> <br/><br/>
			
			<label>Code</label> <br/>
			<input type="text" name="code"/> <br/><br/>
			
			<label>Name</label> <br/>
			<input type="text" name="name"/> <br/><br/>
			
			<label>Description</label> <br/>
			<input type="text" name="description"/> <br/><br/>
			
			<button type="submit">Save</button> 
			<button type="reset">Reset</button>
		</form>
	</body>
</html>