<html>
	<head>
		<title>Jobtitle index</title>
	</head>
	<body>
		<h1>List Job Title</h1>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Code</th>
					<th>Name</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr	th:each="job : ${list}">
					<td th:text="${job.id}"></td>
					<td th:text="${job.code}"></td>
					<td th:text="${job.name}"></td>
					<td th:text="${job.description]}"></td>
					<td>
						<a th:href="@{~/jobtitle/edit/{id}(id=${job.id})}" >Edit</a> |
						<a th:href="@{~/jobtitle/edit/{id}(id=${job.id})}" >Hapus</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>