<html>
	<head>
		<title>Create Job Title</title>
	</head>
	<body>
		<h1>Create Job Title</h1>
		<form action="" method="POST">
			<label>ID</label> <br/>
			<label th:text="${item.id}"></label> <br/><br/>
			
			<label>Code</label> <br/>
			<label th:text="${item.code}"></label> <br/><br/>
			
			<label>Name</label> <br/>
			<label th:text="${item.name}"></label> <br/><br/>
			
			<label>Description</label> <br/>
			<label th:text="${item.description}"></label> <br/><br/>
		</form>
	</body>
</html>