<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{fragments/layout}">
	<head>
		<title>Home Index</title>
	</head>
	<body>
		<div data-layout-fragment="content">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">List Provinsi</h3>
				</div>
				<div class="box-body">
				
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="main-modal" data-layout-fragment="content-modal">
			<div class="modal-dialog modal-lg" style="width:75%;">
				<div class="modal-content" id="main-modal-content">
				</div>
			</div>
		</div>
		<script data-layout-fragment="script-js"> 
		
		</script>
	</body>
</html>